.container.post-container {
  max-width: 700px;
  min-height: 100vh;
}

.post-profilePhoto-diferent-size {
  height: 40px;
  width: 40px;
  object-fit: cover;
}

.container-hero {
  max-width: 400px;
  position: relative;
}

.button-like {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border-width: 2px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-style: solid;
  border-color: var(--bs-gray-500);
  color: var(--bs-gray-500);
  position: relative;
}

.button-like:hover {
  color: var(--bs-danger);
  border-color: var(--bs-danger);
}

.post-text-body {
  white-space: pre-wrap;
}
